Support SOCKS authentification methods

See Section 3 of RFC 1928.

This is currently listed as a 'to do' in the `README`. Moving to be an issue in the repository.